.searchExercise {
  padding: 50px 0;
  .textField {
    height: 10px;
    width: 250px;
    position: relative;
    div {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      input {
        padding: 10px;
      }
    }
  }
  button {
    position: absolute;
    height: 42px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
